<div *ngIf="view" id="openModal" class="modalDialog">
    <div class="containerForm">
        <a href="#close" title="Close" class="close">X</a>

        <form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
            <div class="form-row">
                <label for="lblName" class="form-label">Name</label>
                <input formControlName="nameUser" type="text" class="form-control" id="nameUser" minlength="1"
                    maxlength="30">
                <div *ngIf="f['nameUser'].errors && isValidFormSubmitted != null && !isValidFormSubmitted">
                    <div *ngIf="f['nameUser'].errors['required']">
                        Obligatorio
                    </div>
                    <div *ngIf="f['nameUser'].errors['pattern']">
                        Debe ser solo letras.
                    </div>
                </div>
            </div>

            <div class="form-row">
                <label for="lblPhone" class="form-label">Phone</label>
                <input formControlName="phoneUser" type="text" class="form-control" id="phoneUser" minlength="1"
                    maxlength="10">
                <div *ngIf="f['phoneUser'].errors && isValidFormSubmitted != null && !isValidFormSubmitted">
                    <div *ngIf="f['phoneUser'].errors['required']">
                        Obligatorio
                    </div>
                    <div *ngIf="f['phoneUser'].errors['pattern']">
                        Debe ser solo numeros.
                    </div>
                </div>
            </div>
            <div class="form-row">
                <label for="lblEmail" class="form-label">E-mail</label>
                <input formControlName="mailUser" type="text" class="form-control" id="mailUser">
                <div *ngIf="f['mailUser'].errors && isValidFormSubmitted != null && !isValidFormSubmitted">
                    <div *ngIf="f['mailUser'].errors['required']">
                        Obligatorio
                    </div>
                    <div *ngIf="f['mailUser'].errors['pattern']">
                        Debe ser un correo valido.
                    </div>
                </div>
            </div>
            <div class="form-row">
                <label for="lblDate" class="form-label">Date</label>
                <input formControlName="dateUser" type="date" class="form-control" id="dateUser">
                <div *ngIf="f['dateUser'].errors && isValidFormSubmitted != null && !isValidFormSubmitted">
                    <div *ngIf="f['dateUser'].errors['required']">
                        Obligatorio
                    </div>
                </div>
            </div>
            <div class="form-row">
                <button type="submit" class="submit">OK</button>
            </div>

        </form>
    </div>
</div>